.css-1v5u2yv {
  padding: 0 !important;
  position: relative;
  min-width: 100px;
}

@media screen and (min-width: 600px) {
  .MuiToolbar-root {
    margin-bottom: -64px;
  }
  /* .css-1gt40eh-MuiToolbar-root {
    margin-bottom: -64px;
  } */
}

/* .css-argmg6-MuiToolbar-root {
  min-height: none !important;
}

.css-1t29gy6-MuiToolbar-root {
  min-height: none !important;
} */

.MuiDrawer-paper {
  background: linear-gradient(0deg, rgb(253, 236, 153) 0%, rgb(168, 164, 231) 100%);
  /* background-color: ; */
}

/* .css-1r7kz78-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
  background: linear-gradient(0deg, hsla(50, 100%, 69%, 1) 0%, rgb(124, 119, 202) 100%) !important;
} */